nodeRedFlow.json
[
    {
        "id": "2dc4f2b15fe7c339",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "43b64e4fc1af9eb9",
        "type": "mqtt in",
        "z": "2dc4f2b15fe7c339",
        "name": "",
        "topic": "luckyharvi/online/#",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "55c05c340166d460",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "e0dafa4b29ff973d",
                "cad27b87e360eb30"
            ]
        ]
    },
    {
        "id": "cad27b87e360eb30",
        "type": "function",
        "z": "2dc4f2b15fe7c339",
        "name": "online",
        "func": "msg.payload = [\n    {\n        temperature: msg.payload.temperature,\n        humidity: msg.payload.humidity,\n        distance: msg.payload.distance\n    },\n    {\n        device_id: 1101,\n        sensors: \"DHTSONIC\"\n    }\n]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 300,
        "wires": [
            [
                "cd10079b1522f975",
                "b61eb5329bd9de1b"
            ]
        ]
    },
    {
        "id": "e0dafa4b29ff973d",
        "type": "debug",
        "z": "2dc4f2b15fe7c339",
        "name": "onlineData",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "f6a05a57b34773f9",
        "type": "influxdb out",
        "z": "2dc4f2b15fe7c339",
        "influxdb": "3d583d13f5929b3c",
        "name": "",
        "measurement": "dataOffline",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "UPNVJ",
        "bucket": "fixdgnultrasonic",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "cd10079b1522f975",
        "type": "debug",
        "z": "2dc4f2b15fe7c339",
        "name": "processedDataOnline",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 200,
        "wires": []
    },
    {
        "id": "3ae1d2f88bd15c96",
        "type": "mqtt in",
        "z": "2dc4f2b15fe7c339",
        "name": "",
        "topic": "luckyharvi/offline/#",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "55c05c340166d460",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 420,
        "wires": [
            [
                "2c18aec163240788",
                "15fb18adf420dcf7"
            ]
        ]
    },
    {
        "id": "2c18aec163240788",
        "type": "function",
        "z": "2dc4f2b15fe7c339",
        "name": "offline",
        "func": "msg.payload = [\n    {\n        temperature: msg.payload.temperature,\n        humidity: msg.payload.humidity,\n        distance: msg.payload.distance,\n        rtc: new Date(msg.payload.timestamp * 1000).toISOString(),\n        device_id: \"1101\",\n        sensors: \"DHTSONIC\"\n    }\n]\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 420,
        "wires": [
            [
                "f6a05a57b34773f9",
                "28883ac8b8469abf"
            ]
        ]
    },
    {
        "id": "28883ac8b8469abf",
        "type": "debug",
        "z": "2dc4f2b15fe7c339",
        "name": "processedDataOffline",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 540,
        "wires": []
    },
    {
        "id": "15fb18adf420dcf7",
        "type": "debug",
        "z": "2dc4f2b15fe7c339",
        "name": "offlineData",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 540,
        "wires": []
    },
    {
        "id": "b61eb5329bd9de1b",
        "type": "influxdb out",
        "z": "2dc4f2b15fe7c339",
        "influxdb": "3d583d13f5929b3c",
        "name": "",
        "measurement": "dataOnline",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "UPNVJ",
        "bucket": "fixdgnultrasonic",
        "x": 870,
        "y": 300,
        "wires": []
    },
    {
        "id": "55c05c340166d460",
        "type": "mqtt-broker",
        "name": "",
        "broker": "",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3d583d13f5929b3c",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    }
]